@import './bootstrap/customizations.scss';

html, body {
  // background: url('./images/big-creek.jpg') center center;
  height: 100%;
  min-height: 100%
}
body {
    // background-color: lightblue;
    h1 {
      color: $brand-success;
    }
}
